
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

/** {*/
/*    box-sizing: border-box;*/
/*}*/

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}
#outerDiv{
    text-align: center;
}
#innerDiv{
    display:inline-block;
    text-align: left;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
    background: #00aff0;
    color: white;
}

.fa-android {
    background: #a4c639;
    color: white;
}

.fa-dribbble {
    background: #ea4c89;
    color: white;
}

.fa-vimeo {
    background: #45bbff;
    color: white;
}

.fa-tumblr {
    background: #2c4762;
    color: white;
}

.fa-vine {
    background: #00b489;
    color: white;
}

.fa-foursquare {
    background: #45bbff;
    color: white;
}

.fa-stumbleupon {
    background: #eb4924;
    color: white;
}

.fa-flickr {
    background: #f40083;
    color: white;
}

.fa-yahoo {
    background: #430297;
    color: white;
}

.fa-soundcloud {
    background: #ff5500;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}

.fa-rss {
    background: #ff6600;
    color: white;
}

.fa-github {
    background: #000000;
    color: white;
}

.fa-etsy {
    background: #f27a18;
    color: white;
}
.social-media-container{
    width:50%;
    height:25vh;
    align-items:center;
    margin: 0 auto;
    text-align:center;
    position: relative;
    left:0;
    bottom:0;
    right:0;
    padding-bottom:30px;
}

.titlepages {
    margin-left: 3%;
}
@import url('https://fonts.googleapis.com/css?family=Lato');



.timeline-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0;
}

.timeline-container::after {
    box-sizing: border-box;
    background-color: #e17b77;
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
}

.timeline-item {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;
    margin: 10px 0;
    width: 50%;
}

.timeline-item:nth-child(odd) {
    box-sizing: border-box;
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;
}

.timeline-item-content {
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    position: relative;
    width: 400px;
    max-width: 70%;
    text-align: right;
}

.timeline-item-content::after {
    box-sizing: border-box;
    content: ' ';
    background-color: #fff;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: -7.5px;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
    box-sizing: border-box;
    text-align: left;
    align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
    box-sizing: border-box;
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .tag {
    box-sizing: border-box;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    top: 5px;
    left: 5px;
    letter-spacing: 1px;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
    box-sizing: border-box;
    left: auto;
    right: 5px;
}

.timeline-item-content time {
    box-sizing: border-box;
    color: #777;
    font-size: 12px;
    font-weight: bold;
}

.timeline-item-content p {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0;
    max-width: 250px;
}

.timeline-item-content a {
    box-sizing: border-box;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.timeline-item-content a::after {
    box-sizing: border-box;
    content: ' ►';
    font-size: 12px;
}

.timeline-item-content .circle {
    background-color: #fff;
    box-sizing: border-box;
    border: 3px solid #e17b77;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: -40px;
    width: 20px;
    height: 20px;
    z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
    box-sizing: border-box;
    right: auto;
    left: -40px;
}

@media only screen and (max-width: 1023px) {
    box-sizing: border-box;
    .timeline-item-content {
        max-width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .timeline-item-content,
    .timeline-item:nth-child(odd) .timeline-item-content {
        box-sizing: border-box;
        padding: 15px 10px;
        text-align: center;
        align-items: center;
    }

    .timeline-item-content .tag {
        box-sizing: border-box;
        width: calc(100% - 10px);
        text-align: center;
    }

    .timeline-item-content time {
        box-sizing: border-box;
        margin-top: 20px;
    }

    .timeline-item-content a {
        box-sizing: border-box;
        text-decoration: underline;
    }

    .timeline-item-content a::after {
        display: none;
        box-sizing: border-box;
    }
}

.technical{
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    margin-bottom: 30px;
    align-content:center;
    width:40%;
    border-radius: 10px;
    background:#f7f7f5;
    margin-left:2.5%;
    display: inline-block;
}

.hobbies{
    display: inline-block;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    margin-bottom: 30px;
    align-content:center;
    width:50%;
    border-radius: 10px;
    background:#f7f7f5;
    margin-left:2.5%;
    vertical-align:top;
}
.technical ul, .hobbies ul{
    padding-left: 15%;
}
.technical h3, .hobbies h3 {
    padding-left: 7.5%;
}

.technical h2, .hobbies h2{
    text-align: center;
    padding-left: 7.5%;
    text-decoration: underline;
}

.technical h4, .hobbies h4{
    padding-left: 7.5%;
}

iframe {
    display: block;
}


.hobbiesImages{
    max-width:50%;
    display: block;
    margin: 0 auto;
}
